<a href="https://colab.research.google.com/github/Shubh4545/Task7/blob/main/DataPreprocessing_Assignment11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

**Step 2: Importing dataset**

In [29]:
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [30]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

**Step 3: Handling the missing data**

In [36]:
df=df.dropna()

In [37]:
df.isnull().sum().sum()

0

**Step 4: Encoding categorical data**

In [38]:
df["Purchased"].value_counts()

No     4
Yes    4
Name: Purchased, dtype: int64

In [40]:
clean = {"Purchased":     {"Yes": 1, "No": 0},}
df = df.replace(clean)
df.head()

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1

In [25]:
df["Country"].value_counts()

France     4
Spain      3
Germany    3
Name: Country, dtype: int64

**Step 5: Creating a dummy variable**

In [42]:
pd.get_dummies(df, columns=["Country"]).head()

    Age   Salary  Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0          0               1                0              0
1  27.0  48000.0          1               0                0              1
2  30.0  54000.0          0               0                1              0
3  38.0  61000.0          0               0                0              1
5  35.0  58000.0          1               1                0              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [43]:
from sklearn.model_selection import train_test_split

In [48]:
Y= df['Purchased']
X = df.drop(['Purchased'],axis=1)

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

**Step 7: Feature Scaling**

In [51]:
from sklearn import preprocessing
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [55]:

data_set = pd.read_csv('Data.csv')
data_set.head()
x = data_set.iloc[:, 1:3].values

Standardisation = preprocessing.StandardScaler()

x_after_Standardisation = Standardisation.fit_transform(x)

print ("\nAfter Standardisation : \n", x_after_Standardisation)

ValueError: ignored